:root {
  --main-bg: #09232d;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}
/* Start Breadcrumb */

.cart-breadcrumb {
  font-size: 14px;
  color: #6b7280;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #f2f4f5;
}

.cart-breadcrumb a {
  color: #5f6c72;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-family: var(--font-public-sans);
}

.cart-breadcrumb span.current {
  color: #2da5f3;
  font-weight: 500;
  font-family: var(--font-public-sans);
}
/* End Breadcrumb */
.complaint-page,
.complaints-container-table,
.complaints-container {
  padding-top: 5.05%;
  padding-bottom: 4.2%;
  padding-left: 6.56%;
  padding-right: 6.56%;
  min-height: 100vh;
}
.complaints-container .header-title {
  margin-bottom: 40px;
}
.complaints-container .header-title h1 {
  color: #191c1f;
  font-size: 32px;
  font-weight: 600;
}
.complaints-container .empty-contant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.complaints-container .empty-contant img {
  margin-bottom: 16px;
  display: block;
}
.complaints-container .empty-contant p {
  margin-bottom: 32px;
  color: #363333;
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
}

.complaints-container .empty-contant button.add-new {
  display: block;
  padding: 16px 78px;
  color: #f5faff;
  background-color: #196480;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  font-family: var(--poppins);
}

.complaints-container-table .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.complaints-container-table .header h1 {
  font-size: 32px;
  color: #191c1f;
  font-weight: 600;
  line-height: 40px;
}
.complaints-container-table .header button {
  display: block;
  padding: 16px 18px;
  color: #f5faff;
  background-color: #196480;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  font-family: var(--poppins);
}

@media (max-width: 600px) {
  .complaints-container-table .header {
    flex-direction: column;
  }
}
.complaints-container-table .complaints-body {
  margin: 0 auto;
}
.complaints-container-table .complaints-body .parent-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 24px;
}

@media (max-width: 630px) {
  .complaints-container-table .complaints-body .parent-content {
    flex-direction: column;
  }
}

.complaints-body .parent-content .left-side .date-time {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}
.complaints-body .parent-content .left-side .date-time p.lable-date {
  color: #828282;
  font-size: 12px;
  font-family: var(--nunito);
  font-weight: 400;
  margin-bottom: 0;
}
.complaints-body .parent-content .left-side .date-time span.dot {
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ffead2;
  border-radius: 50%;
}

.complaints-body .parent-content .left-side .date-time .complaints-id {
  color: #196480;
  font-weight: 400;
  font-family: var(--nunito);
  font-size: 12px;
}

.complaints-body .parent-content .left-side .description p {
  color: #333333;
  font-family: var(--nunito);
  font-weight: 400;
  font-size: 16px;
}

.complaints-body .parent-content .right-side {
  display: flex;
  align-items: center;
  gap: 5px;
}
.complaints-body .parent-content .right-side .status {
  background-color: #fff9e6;
  border: 1px solid #ffffff;
  color: #fdbc01;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--nunito);
  border-radius: 9px;
  padding: 4px;
}

/* ======================== */

/* خلفية عامة للجزء */
.complaint-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* LEFT: التفاصيل */
.complaint-page .complaint-details__title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  font-family: var(--nunito);
  margin-bottom: 24px;
}

.complaint-page .complaint-details {
  color: #4b5563;
}

.complaint-page .complaint-detail-item {
  display: flex;
  gap: 4px;
}

.complaint-page .detail-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.complaint-page .detail-label {
  font-size: 12px;
  text-transform: capitalize;
  color: #828282;
  font-family: var(--nunito);
}

.complaint-page .detail-text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: var(--nunito);
}

/* RIGHT: الكارت الرئيسي */
.complaint-page .chat-card {
  background-color: #f6f4f5;
  border-radius: 32px;
  padding: 23px 16px;
  /* box-shadow: 0 18px 40px rgba(15, 23, 42, 0.08); */
  min-height: 520px;
}

/* Header */
.complaint-page .chat-card-header {
  padding: 8px 6px 10px;
  border-bottom: 1px solid #ffffff;
  font-size: 24px;
  color: #333;
  font-family: var(--nunito);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .complaint-page .chat-card-header {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
.complaint-page .btn-close-complaint {
  border-radius: 16px;
  background-color: #196480;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 18px;
  border: none;
}

.complaint-page .btn-close-complaint:hover {
  background-color: #09566a;
}

/* Start chatting */
.complaint-page .chat-top-action {
  padding: 12px 0;
}

.complaint-page .btn-start-chatting {
  border-radius: 999px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  font-family: var(--nunito);
  color: #929292;
}

/* Body */
.complaint-page .chat-body {
  flex: 1;
  padding: 4px 10px 16px;
  overflow-y: auto;
}

.complaint-page .chat-row {
  display: flex;
  align-items: end;
}

.complaint-page .chat-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e5e7eb; /* مكان الصورة */
  flex-shrink: 0;
}
.complaint-page .chat-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Bubbles */
.complaint-page .chat-bubble {
  max-width: 30%;
  border-radius: 16px;
  padding: 12px;
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
  font-family: var(--nunito);
}

.complaint-page .chat-bubble-left {
  background-color: #ffd5a5;
  border-radius: 16px 16px 16px 0;
}

.complaint-page .chat-bubble-right {
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
}

.complaint-page .chat-name {
  font-weight: 600;
  color: #ff951d;
  font-family: var(--nunito);
  font-size: 14px;
}

.complaint-page .chat-text {
  color: #413f3f;
  font-family: var(--nunito);
  font-size: 14px;
}

.complaint-page .chat-meta {
  font-size: 10px;
  color: #413f3f;
  font-family: var(--nunito);
}

.complaint-page .admin .chat-bubble-left {
  background-color: #f5faff;
}
.complaint-page .admin .chat-bubble-left .chat-name {
  color: #196480;
}
/* Images row */
.complaint-page .chat-images {
  display: flex;
  gap: 8px;
  margin-left: 40px;
}

.complaint-page .image-thumb {
  width: 82px;
  height: 82px;
  border-radius: 14px;
  background-color: #e5e7eb; /* مكان الصورة */
}
.complaint-page .image-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}
/* Footer */
.complaint-page .chat-footer {
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
  display: flex;
  align-items: center;

  gap: 9px;
}

.complaint-page .chat-input-wrapper {
  background-color: #ffffff;
  border-radius: 9px;
  padding: 6px 10px;
  width: 100%;
}

.complaint-page .chat-input-icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
}

.complaint-page .chat-input {
  border: none;
  box-shadow: none !important;
  font-size: 14px;
  color: #828282;
  padding: 0.375rem 0;
  background-color: transparent;
}

.complaint-page .chat-input:focus {
  outline: none;
  box-shadow: none;
}

.complaint-page .btn-mic {
  width: 45px;
  height: 100%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  border: none;
  background-color: #0c6f88;
}

/* Responsive */
@media (max-width: 991.98px) {
  .complaint-page {
    align-items: flex-start;
  }

  .complaint-page .chat-card {
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .complaint-page .chat-bubble {
    max-width: 80%;
  }

  .complaint-page .chat-card {
    border-radius: 24px;
  }
}

/* Close Complaint Modal */

/* Modal card styling */
.close-modal-card {
  border-radius: 20px;
  padding: 40px 16px;
  position: relative;
  border: none;
}
/* Fix header spacing */
.modal-header {
  padding: 0;
  min-height: 20px;
}

/* Move the close button to the correct place */
.modal-close-icon {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Title */
.modal-title-text {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--poppins);
  color: #101828;
  margin-bottom: 6px;
}

/* Subtext */
.modal-subtext {
  font-size: 16px;
  color: #828282;
  margin: 0 auto;
  font-family: var(--poppins);
}

/* Note */
.modal-note {
  font-size: 15px;
  color: #828282;
  margin: 0 auto;
  font-family: var(--poppins);
}

/* Buttons */
.modal-btn-cancel {
  background: transparent;
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  border: none;
}

.modal-btn-confirm {
  background-color: #1570ef;
  color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #38acb10d;
}
.modal-btn-confirm:hover {
  background-color: #1570ef;
  color: #fff;
}

.modal-460 {
  max-width: 460px !important;
  width: 100%;
}

.chat-closed{
  background-color: rgba(255, 51, 51, 0.1);
  padding: 8px 16px;
  border-radius: 999px;
}
.chat-closed p{
  color: rgba(146, 146, 146, 1);
  font-size: 12px;
  font-weight: 400;
  font-family: var(--nunito);
  text-align: center;
  margin: 0;
}