:root {
  --main-bg: #09232d;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}
/* Start Breadcrumb */

.cart-breadcrumb {
  font-size: 14px;
  color: #6b7280;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #f2f4f5;
}

.cart-breadcrumb a {
  color: #5f6c72;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-family: var(--font-public-sans);
}

.cart-breadcrumb span.current {
  color: #2da5f3;
  font-weight: 500;
  font-family: var(--font-public-sans);
}
/* End Breadcrumb */
.complaints-container-table,
.complaints-container {
  padding-top: 5.05%;
  padding-bottom: 4.2%;
  padding-left: 6.56%;
  padding-right: 6.56%;
  min-height: 100vh;
}
.complaints-container .header-title {
  margin-bottom: 40px;
}
.complaints-container .header-title h1 {
  color: #191c1f;
  font-size: 32px;
  font-weight: 600;
}
.complaints-container .empty-contant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.complaints-container .empty-contant img {
  margin-bottom: 16px;
  display: block;
}
.complaints-container .empty-contant p {
  margin-bottom: 32px;
  color: #363333;
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 400;
}

.complaints-container .empty-contant button.add-new {
  display: block;
  padding: 16px 78px;
  color: #f5faff;
  background-color: #196480;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  font-family: var(--poppins);
}

.complaints-container-table .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.complaints-container-table .header h1 {
  font-size: 32px;
  color: #191c1f;
  font-weight: 600;
  line-height: 40px;
}
.complaints-container-table .header button {
  display: block;
  padding: 16px 18px;
  color: #f5faff;
  background-color: #196480;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  font-family: var(--poppins);
}

@media (max-width: 600px) {
  .complaints-container-table .header {
    flex-direction: column;
  }
}
.complaints-container-table .complaints-body {
  margin: 0 auto;
}
.complaints-container-table .complaints-body .parent-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 24px;
}

@media (max-width: 630px) {
  .complaints-container-table .complaints-body .parent-content {
    flex-direction: column;
  }
}

.complaints-body .parent-content .left-side .date-time {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}
.complaints-body .parent-content .left-side .date-time p.lable-date {
  color: #828282;
  font-size: 12px;
  font-family: var(--nunito);
  font-weight: 400;
  margin-bottom: 0;
}
.complaints-body .parent-content .left-side .date-time span.dot {
  width: 4px;
  height: 4px;
  display: block;
  background-color: #ffead2;
  border-radius: 50%;
}

.complaints-body .parent-content .left-side .date-time .complaints-id {
  color: #196480;
  font-weight: 400;
  font-family: var(--nunito);
  font-size: 12px;
}

.complaints-body .parent-content .left-side .description p {
  color: #333333;
  font-family: var(--nunito);
  font-weight: 400;
  font-size: 16px;
}

.complaints-body .parent-content .right-side {
  display: flex;
  align-items: center;
  gap: 5px;
}
.complaints-body .parent-content .right-side .status {
  background-color: #fff9e6;
  border: 1px solid #ffffff;
  color: #fdbc01;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--nunito);
  border-radius: 9px;
  padding: 4px;
}
