:root {
  --main-bg: #09232d;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}
/* Start Breadcrumb */
.cart-breadcrumb {
  font-size: 14px;
  color: #6b7280;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #f2f4f5;
}

.cart-breadcrumb a {
  color: #5f6c72;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-family: var(--font-public-sans);
}

.cart-breadcrumb span.current {
  color: #2da5f3;
  font-weight: 500;
  font-family: var(--font-public-sans);
}
/* End Breadcrumb */

.customer-support-container {
  padding-top: 5.05%;
  padding-bottom: 4.2%;
  padding-left: 6.56%;
  padding-right: 6.56%;
}
.customer-support-container .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customer-support-container .left-side .title {
  background-color: #faa62d;
  width: fit-content;
  padding: 8px 16px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 12px;
  color: #fff;
  line-height: 20px;
  margin-bottom: 16px;
}
.customer-support-container .left-side .title-header {
  color: #191c1f;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
}
.customer-support-container .left-side .search-container {
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e4e7e9;
}
.customer-support-container .left-side .search-container input {
  width: 100%;
  outline: none;
  border: none;
}
.customer-support-container .left-side .search-container button {
  background-color: #196480;
  border: 1px solid transparent;
  border-radius: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
}

.customer-support-container .right-side img {
  width: 100%;
  max-height: 332px;
  object-fit: cover;
}
