/* Start Footer */
.qs-footer {
  background: #141414;
  color: #f5f5f5;
  padding: 56px 0 32px;
  font-family: "Public Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.qs-footer-logo img {
  max-height: 79px;
}

.qs-footer-label {
  font-size: 14px;
  color: #77878f;
  font-family: var(--font-public-sans);
}

.qs-footer-phone {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-public-sans);
}

.qs-footer-text {
  font-size: 14px;
  color: #d1d5db;
  font-family: var(--font-public-sans);
}

.qs-footer-email {
  font-size: 14px;
  font-weight: 500;
}

.qs-footer-nav a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.qs-footer-nav a:hover {
  text-decoration: underline;
}

.qs-footer-social span {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background: #333333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.qs-footer-social i {
  font-size: 14px;
  color: #f9fafb;
}

.qs-footer-divider {
  border-color: #27272a;
  margin: 24px 0 20px;
}

.qs-footer-bottom p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
/* End Footer */
