:root {
  --main-bg: #09232d;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;

  --ibm-plex-sans-arabic: "IBM Plex Sans Arabic", -apple-system,
    BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}
.product-page {
  padding-top: 5.05%;
  padding-bottom: 4.2%;
  padding-left: 6.56%;
  padding-right: 6.56%;
}
/* الكارت الرئيسي */
.product-main-card {
  background-color: #ffffff;
  border-radius: 20px;
}

/* الجاليري */
.product-gallery .main-image {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(228, 231, 233, 1);
}

.product-gallery .main-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.thumbs-wrapper {
  margin-top: 4px;
}

.gallery-nav-btn {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  border: none;
  background-color: #0c6f88;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid #fff;
}

.right-btn {
  right: -20px;
}

.left-btn {
  left: -20px;
}

.thumb-item {
  flex: 1;
  border-radius: 2px;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
}

.thumb-item img {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.thumb-item.active {
  border-color: #0c6f88;
}

/* معلومات المنتج */
.product-info .product-title {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  font-family: var(--nunito);
}

.rating-stars img {
  width: 16px;
  height: 16px;
}

.rating-score {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--nunito);
  color: rgba(25, 28, 31, 1);
}

.rating-count {
  font-size: 14px;
  color: rgba(95, 108, 114, 1);
  font-family: var(--nunito);
}
.availability .value {
  color: rgba(95, 108, 114, 1);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--nunito);
}
.availability .value span {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 600;
  font-family: var(--nunito);
}
.stock-text {
  color: #16a34a;
  font-weight: 500;
}
.product-short {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--nunito);
  color: rgba(92, 92, 99, 1);
}
/* السعر */
.price-current {
  font-size: 22px;
  font-weight: 700;
  color: rgba(45, 165, 243, 1);
  font-family: var(--nunito);
}

.price-old {
  font-size: 18px;
  color: rgba(119, 135, 143, 1);
  text-decoration: line-through;
  font-family: var(--nunito);
}

.badge-discount {
  font-size: 11px;
  font-weight: 600;
  background-color: rgba(239, 211, 61, 1);
  color: rgba(25, 28, 31, 1);
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  font-family: var(--nunito);
}

/* الكمية */
.qty-wrapper {
  width: 56px;
  background-color: rgba(255, 255, 255, 1);
}

.qty-select {
  border-radius: 10px;
  font-size: 14px;
  background-color: rgba(240, 240, 240, 1);
}

/* زر Add to cart الرئيسي */
.btn-add-main {
  background-color: rgba(25, 100, 128, 1);
  color: rgba(245, 250, 255, 1);
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  box-shadow: 0px 1px 2px 0px rgba(56, 172, 177, 0.05);
}

.btn-add-main:hover {
  background-color: #09566a;
  color: rgba(245, 250, 255, 1);
}

/* share icons */
.social-icon img {
  width: 16px;
  height: 16px;
}

/* كارت البائع */
.seller-card {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(240, 239, 249, 1);
  width: 89%;
}
@media (max-width: 991.98px) {
  .seller-card {
    width: 100%;
  }
}
.seller-card .seller-card {
  font-size: 16px;
  font-family: var(--poppins);
  letter-spacing: 16px;
  color: rgba(92, 92, 99, 1);
  line-height: 24px;
}
.seller-avatar {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
}

.seller-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seller-label {
  font-size: 20px;
  color: rgba(25, 28, 31, 1);
}

.seller-name {
  font-size: 20px;
  font-weight: 500;
  color: rgba(25, 28, 31, 1);
}

.seller-tag {
  background-color: rgba(239, 248, 255, 1);
  color: rgba(16, 24, 40, 1);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-family: var(--poppins);
}

/* السكشنات تحت */
.section-block {
  background-color: transparent;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--ibm-plex-sans-arabic);
  color: rgba(0, 0, 0, 1);
}

.section-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: rgba(68, 68, 68, 1);
}
.wishlist-btn {
  color: rgba(71, 81, 86, 1);
  font-size: 14px;
  font-weight: 400;
}
.product-share {
  font-size: 14px;
  font-weight: 400;
  color: rgba(71, 81, 86, 1);
}
.overview-description {
  color: rgba(92, 92, 99, 1);
  font-family: var(--poppins);
  font-size: 16px;
}
/* المنتجات المرتبطة */
.related-card {
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(228, 231, 233, 1);
  border-bottom: 1px solid rgba(228, 231, 233, 1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: none; /* شيل الـ border-right عن الجميع */
}
.related-card:first-of-type {
  border-left: 1px solid rgba(228, 231, 233, 1);
}
/* آخر كارت فقط يرجعله الـ border-right */
.related-card:last-of-type {
  border-right: 1px solid rgba(228, 231, 233, 1);
}
.related-image {
  position: relative;

  margin-bottom: 8px;
}

.related-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.badge-pill {
  position: absolute;
  left: -5px;
  top: 0px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: var(--nunito);
}

.badge-soldout {
  background-color: rgba(146, 159, 165, 1);
  color: #fff;
}

.badge-discount-small {
  background-color: #facc15;
  color: #1f2937;
}

.related-title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(25, 28, 31, 1);
  min-height: 40px;
  font-family: var(--nunito);
  margin-bottom: 8px;
}

.related-price span {
  font-size: 14px;
  font-weight: 600;
  color: rgba(25, 100, 128, 1);
  font-family: var(--nunito);
}

.btn-add-related {
  background-color: rgba(25, 100, 128, 1);
  color: rgba(245, 250, 255, 1);
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--poppins);
  box-shadow: 0px 1px 2px 0px rgba(56, 172, 177, 0.05);
  padding: 8px 10px;
  margin-top: auto;
}

.btn-add-related:hover {
  background-color: #09566a;
  color: #fff;
}

/* رسبونسف */
@media (max-width: 991.98px) {
  .product-gallery .main-image img {
    height: 260px;
  }
}
