:root {
  --button-bg: #196480;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;
  --ibm-plex-sans-arabic: "IBM Plex Sans Arabic", -apple-system,
    BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}

/* Breadcrumb */
.cart-breadcrumb {
  font-size: 14px;
  color: #6b7280;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #f2f4f5;
}

.cart-breadcrumb a {
  color: #5f6c72;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-family: var(--font-public-sans);
}

.cart-breadcrumb span.current {
  color: #2da5f3;
  font-weight: 500;
  font-family: var(--font-public-sans);
}

.success-order {
  margin-top: 6.5rem;
  margin-bottom: 4.5rem;
}
.success-order .row .col-md-12 img {
  margin: 0 auto;
  display: block;
}
.success-order .row .text-description {
  margin-bottom: 32px;
}
.success-order .row .text-description h2 {
  color: #191c1f;
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
.success-order .row .text-description p {
  color: #5f6c72;
  font-family: var(--font-public-sans);
  font-weight: 400;
  font-size: 14px;
}
.success-order .row .btn-group .go-home {
  background-color: var(--button-bg);
  color: #fff;
  font-size: 16px;
  font-family: var(--ibm-plex-sans-arabic);
  padding: 18px 65px;
  border-radius: 16px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 0px #38acb10d;
}

.success-order .row .btn-group .print {
  border: 1px solid #667085;
  background: transparent;
  padding: 18px 65px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38ACB10D;
 color: #667085;
 font-size: 16px;
 font-family: var(--ibm-plex-sans-arabic);
 font-weight: 500;
}
