:root {
  --button-bg: #196480;
  --accent: #f3a622; /* لون اللينك النشط */
  --text-muted-top: #c3d1d7;
  --font-public-sans: "Public Sans", sans-serif;
  --poppins: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --nunito: "Nunito", sans-serif;
  --ibm-plex-sans-arabic: "IBM Plex Sans Arabic", -apple-system,
    BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}
/* Start Cart */
body {
  background: #fff;
  font-family: var(--font-public-sans);
}

/* Breadcrumb */
.cart-breadcrumb {
  font-size: 14px;
  color: #6b7280;
  padding: 24px;
  margin-bottom: 12px;
  background-color: #f2f4f5;
}

.cart-breadcrumb a {
  color: #5f6c72;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-family: var(--font-public-sans);
}

.cart-breadcrumb span.current {
  color: #2da5f3;
  font-weight: 500;
  font-family: var(--font-public-sans);
}

.success-order {
  margin-top: 6.5rem;
  margin-bottom: 4.5rem;
}
.success-order .row .col-md-12 img {
  margin: 0 auto;
  display: block;
}
.success-order .row .text-description {
  margin-bottom: 32px;
}
.success-order .row .text-description h2 {
  color: #191c1f;
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
.success-order .row .text-description p {
  color: #5f6c72;
  font-family: var(--font-public-sans);
  font-weight: 400;
  font-size: 14px;
}
.success-order .row .btn-group .go-home {
  background-color: var(--button-bg);
  color: #fff;
  font-size: 16px;
  font-family: var(--ibm-plex-sans-arabic);
  padding: 18px 65px;
  border-radius: 16px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 0px #38acb10d;
}

.success-order .row .btn-group .print {
  border: 1px solid #667085;
  background: transparent;
  padding: 18px 65px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px #38acb10d;
  color: #667085;
  font-size: 16px;
  font-family: var(--ibm-plex-sans-arabic);
  font-weight: 500;
}

.invoice-title {
  color: rgba(34, 34, 34, 1);
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 20px;
}

.invoice-number-value {
  color: rgba(25, 100, 128, 1);
  font-weight: 500;
  font-family: var(--poppins);
  font-size: 20px;
}
.equal-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 350px; /* خليها اللي تناسبك */
  margin: 0 auto;
}

.equal-row.no-border {
  border-bottom: none;
}
@media (max-width: 576px) {
  .equal-row {
    width: 100% !important; /* ياخد عرض الشاشة */
    max-width: 320px; /* عشان يفضل شكله منظم */
    flex-direction: column; /* يخلي العناصر تحت بعض */
    gap: 6px; /* يقلل المسافة */
    text-align: center; /* يوسّط النص */
    padding-bottom: 10px;
  }

  .equal-row p {
    font-size: 14px; /* تصغير الخط للموبايل */
  }
}

.buttons-wrap button {
  padding: 10px 28px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

@media (max-width: 576px) {
  .buttons-wrap {
    flex-direction: column !important;
    gap: 12px !important;
  }

  .buttons-wrap button {
    width: 100%;
    max-width: 260px;
  }
}
